@import '../../../assets/styles/mixins.scss';

.PictureCard {
    color: white;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    box-shadow: var(--card-shaddow);

    img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &__overlay {
        @include overlay;

        display: grid;
        grid-template-rows: 3fr 1fr;
        justify-content: center;
        gap: var(--spacing-md);
        padding: var(--spacing-md);
        >*:first-child {
            align-self: flex-end;
        }
        >*:nth-child(2) {
            justify-self: center;
        }

        background-color: rgba(0, 0, 0, 0.329);
        opacity: 0;
        transition: .3s opacity ease-in-out;
        &:hover {
            opacity: 1;
        }
    }
}