@import '../../assets/styles/mixins.scss';

.PicturesGrid {
    @include main-container;
    display: grid;
    gap: var(--spacing-md);
    padding: var(--spacing-md);
    grid-template-rows: max-content;
    grid-template-columns: repeat(auto-fit, minmax(300px , auto));
    justify-content: center;

    &__loader {
        justify-self: center;
    }
}