@import '../../../assets/styles/mixins.scss';

.CardBody {
   text-align: center;
   overflow: hidden;

    h3, p {
        margin: 0;
        @include nowrap;
    }

    h3 {
        text-transform: capitalize;
    }

    hr {
        width: 75px;
        border: none;
        border-bottom: 2px solid currentColor;
    }

}