.SearchField {
    position: relative;

    &__icon {
        position: absolute;
        top: 0;
        bottom: 5px;
        left: var(--spacing-sm);
        margin: auto 0;
        color: grey;
    }

    &__input {
        padding: var(--spacing-sm);
        padding-left: 3.3rem;

    }
}