
@mixin main-container {
    width: 400px;
    max-width: 100vw;
    min-width: 70vw;
}

@mixin overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@mixin nowrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}